
.example-card {
    margin: 2vh;
    max-width: 200px;
    display: flex;
  flex-wrap: wrap;
  }

  .noProduct{
    font-weight: bolder;
    color: rgb(255, 0, 0);
  }

div{
  display: flex;
  flex-wrap: wrap;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  

  button{
    padding: 20px;
  }

  .cart{
    margin: 2vh;
    margin-left: auto;
  }