.carrito-container {
    padding: 16px;
    background-color: #4f1561;
    border-radius: 2vh;
  }
  
  .carrito-container h2 {
    margin-bottom: 16px;
    color: #ffffff;
  }
  
  .carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .carrito-item span {
    flex: 1;
  }
  
  .total {
    margin-top: 16px;
    font-size: 1.2em;
    color: #ffffff;
  }
  
  .carrito-item-details {
    display: flex;
    align-items: center;
    color: #e0e0e0;
  }
  
  .carrito-item-details mat-icon {
    margin-right: 8px;
    color: #ffffff;
  }
  
  .empty-cart {
    text-align: center;
    color: #8f8f8f;
    margin-top: 20px;
  }